<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>I am a Cybersecurity, IT Operations, and Technical Support professional with more than 7 years of experience supporting SaaS platforms, healthcare technology systems, and enterprise environments.  My experience includes authentication troubleshooting, incident response, ServiceNow, Microsoft 365, Okta, HIPAA-compliant operations, workflow optimization, and technical documentation. I'm currently in training with Merit America, which involves 5 months of intensive professional development, completion of the Google Cybersecurity Professional Certificate, and several hands-on technical projects.</p>
        <p>I'm also currently pursuing an Associate of Applied Business in IT-Cybersecurity at Cuyahoga Community College. This portfolio showcases hands-on projects, labs, and technical work that demonstrate my growing skills in cybersecurity, IT operations, governance, risk, and compliance (GRC).</p>
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong> ServiceNow, Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (Wireshark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis, Log Analysis, Identity & Access Management (IAM), Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Microsoft 365, Epic EMR, Google Workspace, ServiceNow, Okta, Slack, Microsoft Teams, Outlook, Zoom, DataDog, Confluence, ChatGPT<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Technical Documentation, Workflow Optimization, Analytical Thinking</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="Jasmine Sullivans Resume.pdf" target="_blank" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
