<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>I’ve spent 7+ years in healthcare IT and technical support — fixing what’s broken, figuring out why it broke, and making sure it doesn’t happen again. That’s what led me to cybersecurity. Some people support systems. I secure them, investigate them, and fix what others overlook. My experience includes authentication troubleshooting, incident response, ServiceNow, Microsoft 365, Okta, HIPAA-compliant operations, workflow optimization, and technical documentation. I'm currently in training with Merit America, which includes 5 months of intensive professional development, completion of the Google Cybersecurity Professional Certificate, and several hands-on technical projects.</p>
        <p>I’m currently completing the Merit America Cybersecurity Apprenticeship, the Google Cybersecurity Professional Certificate, and an Associate’s in IT Cybersecurity at Cuyahoga Community College. This portfolio is where I document the work.</p>
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> Python, SQL (BigQuery, MySQL)<br>
              <strong>Tools:</strong> ServiceNow, Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (Wireshark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Security Practices:</strong> Information Security, Network Security (NDR), Vulnerability Assessment, Threat Analysis, Log Analysis, Identity & Access Management (IAM), Security Frameworks and Controls (NIST)<br>
              <strong>Software Platforms:</strong> Microsoft 365, Epic EMR, Google Workspace, ServiceNow, Okta, Slack, Microsoft Teams, Outlook, Zoom, DataDog, Confluence<br>
              <strong>Strengths:</strong> Problem-Solving, Collaboration, Attention to Detail, Technical Documentation, Workflow Optimization, Analytical Thinking</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="Jasmine Sullivans Resume .pdf" target="_blank" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
